* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rowdies', cursive;
}

.menu-container {
    margin: 10px 20px;
    padding: 10px 20px ;
    background-color: #6F6AF8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius:10px;
}

.logo {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo p {
    margin-left: 5px;
    color: hsl(242, 92%, 67%);
}
.menu ul {
 list-style: none;
 display: flex;
 align-items: center;
 justify-content: center;
 color: white;
}

.menu ul li {
    margin : 10px 20px;
    font-size: 22px;

}
.menu ul li a  {
text-decoration : none;
color:white;
}
.menu ul li:hover{
    cursor: pointer;
    color: rgb(146, 142, 142);
}

.main a {
    background-color: #6F6AF8;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    align-self: center;
    margin-right: 80px;
}
.dropbtn {
  background-color: #6F6AF8;
  color: white;
  padding: 16px;
  font-size: 22px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #a9a6f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
    border-radius:10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
    border-radius:10px;
}

.dropdown-content a:hover {background-color: #f1f1f1;
  border-radius:10px;}

.dropdown:hover .dropdown-content {
  display: block;
    border-radius:10px;
}

.dropdown:hover .dropbtn {
  background-color:#6F6AF8;
}
a.download{
text-align:center;
font-size:15px;
background-color: #6F6AF8;
padding:10px 20px;
color:white;
border-radius:10px;
text-decoration:none;
display:block;
margin:50px;

}
a.download:hover {
    color:#6F6AF8;

  background-color: #cecdfa;
}
#days{
margin:80px 120px;}
 div h1{
 border:solid 2px;
 border-radius:10px;
 font-size:50px;
 text-align:center;

 }