<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/lastweek.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap" rel="stylesheet">
    <title>lastweek</title>
    <style>

    </style>
</head>
<body>
    <div class="menu-container">
        <div class="logo">
            <img src="{%static './img/temperature.png'%}" width="30px"/>
            <p>SHOTEMP</p>
        </div>
        <div class="menu">
            <ul>
                <li><a href="index">Acceuil</a></li>
                <li><a href="graph">DashBoard</a></li>
                <div class="dropdown">
      <button class="dropbtn">historique</button>
      <div class="dropdown-content">
      <a href="yesterday">yesterday</a>
      <a href="lastweek">Last week</a>
      <a href="#">haha</a>
      </div>
    </div>
            </ul>
        </div>
    </div>
    <div id="days">
         <h1> last five days </h1>
        <a class="download" href="yesterday" > day before </a>
        <a class="download" href="day2" >2 days before </a>
        <a class="download" href="day3" >3 days before</a>
        <a class="download" href="day4" >4 days before</a>
        <a class="download" href="day5" >5 days before </a>
        </div>


</body>
</html>